.pulse1 {
    animation: pulse 10s infinite;
  }
  
  .pulse2 {
    animation: pulse 10s infinite 5s; 
  }
  
  @keyframes pulse {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.8); 
    }
  }
  
  